<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<link type="text/css" rel="stylesheet"
		href="../../resources/css/style.css" />
	<link type="text/css" rel="stylesheet"
		href="../../resources/css/multiple-select.css" />

	<script src="../../resources/js/jquery.min.js"></script>
	<script src="../../resources/js/jquery.multiple.select.js"></script>

	<div id="content">
		<h:panelGroup id="error-content-edit-news" layout="block"
			rendered="#{flash.error != null}">
			#{msg[flash.error]}
		</h:panelGroup>
		<div id="tag-content">
			<c:forEach items="#{tagListBean.tagList}" var="tag">
				<h:form rendered="#{tag eq tagBean.tagDTO}">
					<div class="edittag-tag-text">#{msg['edittag.tag.text']}</div>
					<div class="edittag-inputname">
						<h:inputText id="tagNameInput" value="#{tagBean.tagDTO.tagName}">
							<f:validateBean disabled="false" />
						</h:inputText>
					</div>
					<div class="edittag-update-button">
						<h:commandButton action="#{tagController.updateTag}"
							value="#{msg['edittag.update.button']}">
							<f:param name="tagId" value="#{tag.tagId}" />
						</h:commandButton>
					</div>
					<div class="edittag-delete-link">
						<h:commandLink action="#{tagController.deleteTag}"
							value="#{msg['edittag.delete.link']}">
							<f:param name="tagId" value="#{tag.tagId}" />
						</h:commandLink>
					</div>
					<div class="edittag-cancel-link">
						<h:link value="#{msg['edittag.cancel.link']}" outcome="edit-tags" />
					</div>
					<div class="addnews-error-message" id="edittag-message-update">
						<h:message for="tagNameInput" />
					</div>
				</h:form>
				<h:form prependId="false" rendered="#{tag ne tagBean.tagDTO}">
					<div class="edittag-tag-text">#{msg['edittag.tag.text']}</div>
					<div class="edittag-inputname-blocked">
						<h:inputText value="#{tag.tagName}" disabled="true" />
					</div>
					<div class="edittag-edit-link">
						<h:link value="#{msg['edittag.edit.link']}" outcome="edit-tags">
							<f:param name="tagId" value="#{tag.tagId}" />
						</h:link>
					</div>
				</h:form>
				<div style="clear: both;"></div>
			</c:forEach>
		</div>
		<div>
			<h:panelGroup layout="block"
				rendered="#{tagBean.tagDTO.tagId == null}">
				<div id="edittag-addtag-text">#{msg['edittag.addtag.text']}</div>
				<h:form prependId="false">
					<div id="edittag-inputname-save">
						<h:inputText id="tagNameInput" value="#{tagBean.tagDTO.tagName}">
							<f:validateBean disabled="false" />
						</h:inputText>
					</div>
					<div id="edittag-save-button">
						<h:commandButton action="#{tagController.createTag}"
							value="#{msg['edittag.save.button']}" />
					</div>
					<div class="addnews-error-message" id="editauthor-message-save">
						<h:message for="tagNameInput" />
					</div>
				</h:form>
				<div style="clear: both;"></div>
			</h:panelGroup>
		</div>
	</div>
	<div style="clear: both"></div>
</ui:composition>