<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<link type="text/css" rel="stylesheet"
		href="../../resources/css/style.css" />
	<link type="text/css" rel="stylesheet"
		href="../../resources/css/multiple-select.css" />

	<script src="../../resources/js/jquery.min.js"></script>
	<script src="../../resources/js/jquery.multiple.select.js"></script>

	<div id="content">
		<h:panelGroup id="error-content-edit-news" layout="block"
			rendered="#{flash.error != null}">
			#{msg[flash.error]}
		</h:panelGroup>
		<div id="author-content">
			<c:forEach items="#{authorListBean.authorList}" var="author">
				<h:form rendered="#{author eq authorBean.authorDTO}">
					<div class="editauthor-author-text">
						#{msg['editauthor.author.text']}</div>
					<div class="editauthor-inputname">
						<h:inputText id="authorNameInput"
							value="#{authorBean.authorDTO.authorName}">
							<f:validateBean disabled="false" />
						</h:inputText>
					</div>
					<div class="editauthor-update-button">
						<h:commandButton action="#{authorController.updateAuthor}"
							value="#{msg['editauthor.update.button']}">
							<f:param name="authorId" value="#{author.authorId}" />
						</h:commandButton>
					</div>
					<div class="editauthor-expire-link">
						<h:commandLink action="#{authorController.expireAuthor}"
							value="#{msg['editauthor.expire.link']}">
							<f:param name="authorId" value="#{author.authorId}" />
						</h:commandLink>
					</div>
					<div class="editauthor-cancel-link">
						<h:link value="#{msg['editauthor.cancel.link']}"
							outcome="edit-authors" />
					</div>
					<div class="addnews-error-message" id="editauthor-message-update">
						<h:message for="authorNameInput" />
					</div>
				</h:form>
				<h:form prependId="false"
					rendered="#{author ne authorBean.authorDTO}">
					<div class="editauthor-author-text">
						#{msg['editauthor.author.text']}</div>
					<div class="editauthor-inputname-blocked">
						<h:inputText value="#{author.authorName}" disabled="true" />
					</div>
					<div class="editauthor-edit-link">
						<h:link value="#{msg['editauthor.edit.link']}"
							outcome="edit-authors">
							<f:param name="authorId" value="#{author.authorId}" />
						</h:link>
					</div>
				</h:form>
				<div style="clear: both;"></div>
			</c:forEach>
		</div>
		<div>
			<h:panelGroup layout="block"
				rendered="#{authorBean.authorDTO.authorId == null}">
				<div id="editauthor-addauthor-text">
					#{msg['editauthor.addauthor.text']}</div>
				<h:form prependId="false">
					<div id="editauthor-inputname-save">
						<h:inputText id="authorNameInput"
							value="#{authorBean.authorDTO.authorName}">
							<f:validateBean disabled="false" />
						</h:inputText>
					</div>
					<div id="editauthor-save-button">
						<h:commandButton action="#{authorController.createAuthor}"
							value="#{msg['editauthor.save.button']}" />
					</div>
					<div class="addnews-error-message" id="editauthor-message-save">
						<h:message for="authorNameInput" />
					</div>
				</h:form>
				<div style="clear: both;"></div>
			</h:panelGroup>
		</div>
	</div>
	<div style="clear: both"></div>
</ui:composition>