<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<link type="text/css" rel="stylesheet"
		href="../../resources/css/style.css" />
	<link type="text/css" rel="stylesheet"
		href="../../resources/css/multiple-select.css" />

	<script src="../../resources/js/jquery.min.js"></script>
	<script src="../../resources/js/jquery.multiple.select.js"></script>

	<div id="content">
		<h:panelGroup id="error-content-edit-news" layout="block"
			rendered="#{flash.error != null}">
			#{msg[flash.error]}
		</h:panelGroup>
		<h:form prependId="false">
			<div id="addnews-title">
				<div>#{msg['addnews.title']}</div>
				<div>
					<h:inputText id="titleInput" value="#{newsBean.newsValue.title}">
						<f:validateBean disabled="false" />
					</h:inputText>
				</div>
				<div class="addnews-error-message" id="title-error">
					<h:message for="titleInput" />
				</div>
			</div>
			<div id="addnews-date">
				<div>#{msg['addnews.date']}</div>
				<div>
					<h:inputText id="modificationDateInput"
						value="#{newsBean.newsValue.modificationDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
						<f:validateBean disabled="false" />
					</h:inputText>
				</div>
				<div class="addnews-error-message" id="date-error">
					<h:message for="modificationDateInput" />
				</div>
			</div>
			<div id="addnews-short-text">
				<div>#{msg['addnews.shorttext']}</div>
				<div>
					<h:inputTextarea id="shortTextInput" rows="3" cols="50"
						value="#{newsBean.newsValue.shortText}">
						<f:validateBean disabled="false" />
					</h:inputTextarea>
				</div>
				<div class="addnews-error-message" id="short-text-error">
					<h:message for="shortTextInput" />
				</div>
			</div>
			<div id="addnews-full-text">
				<div>#{msg['addnews.fulltext']}</div>
				<div>
					<h:inputTextarea id="fullTextInput" rows="5" cols="50"
						value="#{newsBean.newsValue.fullText}">
						<f:validateBean disabled="false" />
					</h:inputTextarea>
				</div>
				<div class="addnews-error-message" id="full-text-error">
					<h:message for="fullTextInput" />
				</div>
			</div>
			<div id="search">
				<div id="authors">
					<h:selectOneMenu id="ss" value="#{newsController.authorId}">
						<f:selectItems value="#{authorListBean.authorList}" var="author"
							itemValue="#{author.authorId}" itemLabel="#{author.authorName}" />
					</h:selectOneMenu>
				</div>
				<div id="tags">
					<h:selectManyListbox id="ms" value="#{newsController.tagIdArray}">
						<f:selectItems value="#{tagListBean.tagList}" var="tag"
							itemValue="#{tag.tagId}" itemLabel="#{tag.tagName}" />
					</h:selectManyListbox>
				</div>
				<script>
					$('#ms').multipleSelect();
				</script>
			</div>
			<h:commandButton id="save-news-button"
				action="#{newsController.createOrUpdateNews}"
				value="#{msg['addnews.save']}" />
		</h:form>
	</div>
	<div style="clear: both"></div>
</ui:composition>