<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<div id="login-content">
		<div id="login-form">
			<h:panelGroup layout="block" rendered="#{flash.error != null}">
				<div id="login-error">#{msg[flash.error]}</div>
			</h:panelGroup>
			<h:form name='loginForm'>
				<table>
					<tr>
						<td>#{msg['login.user']}</td>
						<td><h:inputText value="#{userBean.userName}" /></td>
					</tr>
					<tr>
						<td>#{msg['login.password']}</td>
						<td><h:inputSecret value="#{userBean.password}" /></td>
					</tr>
					<tr>
						<td colspan='2'><h:commandButton action="#{userBean.login}"
								value="#{msg['login.enter']}" /></td>
					</tr>
				</table>
			</h:form>
		</div>
	</div>
	<div style="clear: both"></div>
</ui:composition>