<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<link type="text/css" rel="stylesheet"
		href="../../resources/css/style.css" />
	<link type="text/css" rel="stylesheet"
		href="../../resources/css/multiple-select.css" />

	<script src="../../resources/js/jquery.min.js"></script>
	<script src="../../resources/js/jquery.multiple.select.js"></script>

	<div id="content">
		<div id="news-backButton">
			<h:form>
				<h:commandLink action="#{newsListController.showNewsList}"
					value="#{msg['back.button']}" />
			</h:form>
		</div>
		<div class="news">
			<div class="news-title">
				<strong>#{newsBean.newsValue.title}</strong>
			</div>
			<div class="news-author">(#{msg['news.author']}
				#{newsBean.newsValue.author.authorName})</div>
			<div class="news-date">
				<h:outputText value="#{newsBean.newsValue.modificationDate}">
					<f:convertDateTime pattern="dd-MM-yyy" />
				</h:outputText>
			</div>
			<div style="clear: both"></div>
			<div class="news-full-text">#{newsBean.newsValue.fullText}</div>
		</div>
		<div id="comments">
			<ui:repeat value="#{newsBean.newsValue.comments}" var="comment">
				<div class="comment">
					<div class="comment-date">
						<h:outputText value="#{comment.creationDate}">
							<f:convertDateTime pattern="dd-MM-yyy HH:mm:ss" />
						</h:outputText>
					</div>
				</div>
				<div class="comment-text">#{comment.commentText}</div>
				<div class="delete-comment-button">
					<h:form>
						<h:commandButton action="#{commentController.deleteComment}"
							value="#{msg['news.delete']}">
							<f:param name="commentId" value="#{comment.commentId}" />
						</h:commandButton>
					</h:form>
				</div>
				<div style="clear: both"></div>
			</ui:repeat>
			<h:form>
				<div id="write-comment">
					<h:inputTextarea id="commentInput" rows="5" cols="35"
						value="#{commentBean.commentValue.commentText}">
						<f:validateBean disabled="false" />
					</h:inputTextarea>
				</div>
				<div id="post-comment-button">
					<h:commandButton action="#{commentController.addComment}"
						value="#{msg['post.comment.button']}">
						<f:param name="newsId" value="#{newsBean.newsValue.newsId}" />
					</h:commandButton>
				</div>
				<div id="comment-text-error" class="addnews-error-message">
					<h:message for="commentInput" />
				</div>
			</h:form>
		</div>
		<div style="clear: both"></div>
		<div id="prevButton">
			<h:link value="#{msg['prev.button']}" outcome="news"
				rendered="#{newsBean.prevNewsId != null}">
				<f:param name="newsId" value="#{newsBean.prevNewsId}" />
			</h:link>
		</div>
		<div id="nextButton">
			<h:link value="#{msg['next.button']}" outcome="news"
				rendered="#{newsBean.nextNewsId != null}">
				<f:param name="newsId" value="#{newsBean.nextNewsId}" />
			</h:link>
		</div>
	</div>
	<div style="clear: both"></div>
</ui:composition>