<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<link type="text/css" rel="stylesheet"
		href="../../resources/css/style.css" />
	<link type="text/css" rel="stylesheet"
		href="../../resources/css/multiple-select.css" />

	<script src="../../resources/js/jquery.min.js"></script>
	<script src="../../resources/js/jquery.multiple.select.js"></script>

	<h:body>
		<div id="content">
			<div id="content-search">
				<h:form prependId="false">
					<div id="content-authors">
						<h:selectOneMenu id="ss" value="#{searchCriteriaBean.authorId}"
							valueChangeListener="#{searchCriteriaBean.processAuthorIdValueChange}">
							<f:selectItem itemValue="#{null}" itemLabel="" />
							<f:selectItems value="#{authorListBean.authorList}" var="author"
								itemValue="#{author.authorId}" itemLabel="#{author.authorName}" />
						</h:selectOneMenu>
					</div>
					<div id="content-tags">
						<h:selectManyListbox id="ms"
							value="#{searchCriteriaBean.tagIdArray}"
							valueChangeListener="#{searchCriteriaBean.processTagIdArrayValueChange}">
							<f:selectItems value="#{tagListBean.tagList}" var="tag"
								itemValue="#{tag.tagId}" itemLabel="#{tag.tagName}" />
						</h:selectManyListbox>
					</div>
					<script>
						$('#ms').multipleSelect();
					</script>
					<div id="content-filter-button">
						<h:commandButton type="submit"
							action="#{newsListController.showNewsList}"
							value="#{msg['search.filter']}" />
					</div>
				</h:form>
				<div id="content-reset-button">
					<h:form>
						<h:commandButton
							action="#{newsListController.clearSearchCriteria}"
							value="#{msg['search.reset']}" />
					</h:form>
				</div>
			</div>
			<div id="news-list-content">
				<h:form>
					<ui:repeat value="#{newsListBean.newsValueList}" var="news">
						<div class="short-news">
							<div class="short-news-title">
								<strong>#{news.title}</strong>
							</div>
							<div class="short-news-author">( #{msg['news.author']}
								#{news.author.authorName})</div>
							<div class="short-news-date">
								<h:outputText value="#{news.modificationDate}">
									<f:convertDateTime pattern="dd-MM-yyy" />
								</h:outputText>
							</div>
							<div style="clear: both"></div>
							<div class="short-news-text">#{news.shortText}</div>
							<div class="short-news-view-link">
								<h:link value="#{msg['view.news.link']}" outcome="news">
									<f:param name="newsId" value="#{news.newsId}" />
								</h:link>
							</div>
							<div class="short-news-comments-number">#{msg['comments.count']}
								(#{news.comments != null ? news.comments.size() : 0 })</div>
							<div class="short-news-tag-list">
								<ui:repeat value="#{news.tags}" var="tag">
						#{tag.tagName} 
					</ui:repeat>
							</div>
							<div style="clear: both"></div>
						</div>
						<div class="short-news-delete-checkbox">
							<h:selectBooleanCheckbox
								value="#{newsListBean.checkMap[news.newsId]}" />
						</div>
						<div class="short-news-edit-link">
							<h:link value="#{msg['news.edit.link']}" outcome="edit-news">
								<f:param name="newsId" value="#{news.newsId}" />
							</h:link>
						</div>
						<div style="clear: both"></div>
					</ui:repeat>
					<h:commandButton id="delete-news-button"
						action="#{newsListController.deleteNewsList}"
						value="#{msg['newslist.delete']}" />
				</h:form>
				<div style="clear: right"></div>
			</div>
			<center>
				<div id="navigation-by-list\">
					<div id="paginationDigits">
						<h:form prependId="false">
							<td><h:commandLink styleClass="arrows"
									action="#{newsListController.switchPage}" value="&laquo;">
									<f:param name="switchTo" value="first" />
								</h:commandLink>&nbsp;&nbsp;</td>
							<td><h:commandLink styleClass="arrows"
									action="#{newsListController.switchPage}" value="&#8249;">
									<f:param name="switchTo" value="decr" />
								</h:commandLink>&nbsp;&nbsp;</td>
							<h:inputText id="inPage" type="number" min="1"
								max="#{newsListBean.pagesCount}"
								value="#{searchCriteriaBean.page}"
								valueChangeListener="#{searchCriteriaBean.processPageValueChange}" />
							<td><h:commandLink styleClass="arrows"
									action="#{newsListController.switchPage}" value="&#8250;">
									<f:param name="switchTo" value="incr" />
								</h:commandLink>&nbsp;&nbsp;</td>
							<td><h:commandLink styleClass="arrows"
									action="#{newsListController.switchPage}" value="&#187;">
									<f:param name="switchTo" value="last" />
								</h:commandLink>&nbsp;&nbsp;</td>
						</h:form>
					</div>
				</div>
			</center>
		</div>
		<div style="clear: both"></div>
	</h:body>
</ui:composition>