<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:body>
		<div id="header">
			<div id="title">
				<strong>#{msg['title.title']}</strong>
			</div>
			<div id="locale">
				<div id="localeEN">
					<h:form>
						<h:commandLink value="#{msg['title.en']}"
							actionListener="#{languageBean.setLocaleEn}" />
					</h:form>
				</div>
				<div id="localeRU">
					<h:form>
						<h:commandLink value="#{msg['title.ru']}"
							actionListener="#{languageBean.setLocaleRu}" />
					</h:form>
				</div>
			</div>
			<div style="clear: left"></div>
		</div>
	</h:body>
</ui:composition>