<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view locale="#{languageBean.locale}" />
<h:head>
	<title><ui:insert name="title" /></title>

	<h:outputStylesheet name="css/style.css" />
	<h:outputStylesheet name="css/multiple-select.css" />

	<h:outputScript name="js/jquery.min.js" />
	<h:outputScript name="js/jquery.multiple.select.js" />

	<h:outputScript rendered="#{sessionScope.timezoneOffset == null}">
		var tzo = new Date().getTimezoneOffset();
		document.cookie = "timezoneOffset=" + encodeURI(tzo * (-1));
	</h:outputScript>

</h:head>
<h:body>
	<ui:include src="header.xhtml" />
	<ui:insert name="content" />
	<ui:include src="footer.xhtml" />
</h:body>
</html>