#header {
	width: auto;
	height: 70px;
	margin: auto;
	border-style: solid;
}

#title {
	float: left;
	font-family: "Times New Roman", Georgia, Times, serif;
	font-size: 32px;
	margin-left: 30px;
	font-family: "Times New Roman", Georgia, Times, serif;
	margin-top: 15px;
}

#locale {
	float: right;
	padding-right: 50px;
	margin-top: 24px;
}

#localeEN {
	float: left;
}

#localeRU {
	float: left;
	margin-left: 10px;
}

#footer {
	margin-top: 40px;
	border-style: solid;
}

#search {
	width: auto;
	height: 70px;
	margin: auto;
}

#authors {
	width: 150px;
	float: left;
	margin-left: 300px;
	margin-top: 24px;
}

#tags {
	width: 150px;
	float: left;
	margin-left: 10px;
	margin-top: 24px;
}

#ms {
	width: 100%;
}

#ss {
	width: 100%;
	height: 26px;
}

#filter {
	float: left;
	margin-left: 10px;
	margin-top: 24px;
}

#reset {
	float: left;
	margin-left: 10px;
	margin-top: 24px;
}

#news-list-content {
	width: auto;
	min-height: 600px;
}

.news {
	margin-bottom: 10px;
	margin-top: 10px;
}

.news-title {
	padding-left: 50px;
	float: left;
}

.news-author {
	float: left;
	margin-left: 300px;
}

.news-date {
	float: right;
	margin-right: 200px;
}

.news-short-text {
	padding-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.news-comments {
	float: right;
	margin-right: 30px;
}

.tag-list {
	float: right;
	margin-right: 30px;
}

.view-link {
	float: right;
	padding-right: 50px;
}

#navigation-by-list {
	margin: auto;
	width: auto;
}

#news-content {
	width: auto;
	min-height: 600px;
}

#backButton {
	margin-top: 10px;
	margin-left: 10px;
}

#news-full-text {
	padding-left: 50px;
	margin-top: 20px;
	width: 800px;
	word-wrap: break-word;
}

#comments {
	padding-left: 100px;
	margin-top: 30px;
	width: 300px;
}

.comment {
	margin-top: 20px;
}

.comment-date {
	text-decoration: underline;
}

.comment-text {
	background-color: gainsboro;
}

#write-comment {
	margin-top: 30px;
}

#post-comment-button {
	margin-top: 10px;
	float: right;
}

#prevButton {
	float: left;
	padding-left: 30px;
}

#nextButton {
	float: right;
	padding-right: 30px;
}

#error-content {
	width: auto;
	min-height: 600px;
	margin-left: 200px;
	margin-top: 200px;
	color: red;
	font-style: italic;
}