<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:sf="http://www.springframework.org/tags/form"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt">

<script type="text/javascript">
	titleError = '<fmt:message key="title.error.size" />';
	shortTextError = '<fmt:message key="shorttext.error.pattern" />';
	fullTextError = '<fmt:message key="fulltext.error.pattern" />';
	dateError = '<fmt:message key="date.error" />';
</script>

<div id="content">
	<sf:form method="POST" modelAttribute="newsValue"
		onsubmit="return makeValidation()" id="newsForm">
		<sf:hidden path="news.modificationDate" />
		<div id="addnews-title">
			<div>
				<fmt:message key="addnews.title" />
			</div>
			<div>
				<sf:input path="news.title" />
			</div>
			<div class="addnews-error-message" id="title-error">
				<sf:errors path="news.title" />
			</div>
		</div>
		<div id="addnews-date">
			<div>
				<fmt:message key="addnews.date" />
			</div>
			<div>
				<sf:input path="news.creationDate" />
			</div>
			<div class="addnews-error-message" id="date-error">
				<sf:errors path="news.creationDate" />
			</div>
		</div>
		<div id="addnews-short-text">
			<div>
				<fmt:message key="addnews.shorttext" />
			</div>
			<div>
				<sf:textarea rows="3" cols="50" path="news.shortText" />
			</div>
			<div class="addnews-error-message" id="short-text-error">
				<sf:errors path="news.shortText" />
			</div>
		</div>
		<div id="addnews-full-text">
			<div>
				<fmt:message key="addnews.fulltext" />
			</div>
			<div>
				<sf:textarea rows="5" cols="50" path="news.fullText" />
			</div>
			<div class="addnews-error-message" id="full-text-error">
				<sf:errors path="news.fullText" />
			</div>
		</div>
		<div id="search">
			<div id="authors">
				<sf:select id="ss" items="${authorList}" itemLabel="authorName"
					itemValue="authorId" path="author.authorId"></sf:select>
			</div>
			<div id="tags">
				<sf:select id="ms" multiple="multiple" items="${tagList}"
					itemLabel="tagName" itemValue="tagId" path="tags">
				</sf:select>
			</div>
			<script>
				$('#ms').multipleSelect();
			</script>
		</div>
		<fmt:message key="addnews.save" var="addNewsSave" />
		<input id="save-news-button" type="submit" value="${addNewsSave }" />
	</sf:form>
</div>
<div style="clear: both"></div>
</html>