<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:body>
		<div id="header">
			<div id="header-title">
				<strong>#{msg['title.title']}</strong>
			</div>
			<h:panelGroup layout="block" rendered="#{userBean.isAuthenticated()}">
				<div id="header-greeting-message">#{msg['header.greeting']}
					#{userBean.userName} !</div>
				<div id="header-logout-button">
					<h:form prependId="false">
						<h:commandButton type="submit" action="#{userBean.logout}"
							value="#{msg['header.logout']}" />
					</h:form>
				</div>
			</h:panelGroup>
			<div id="header-locale">
				<div id="header-localeEN">
					<h:form>
						<h:commandLink value="#{msg['title.en']}"
							actionListener="#{languageBean.setLocaleEn}" />
					</h:form>
				</div>
				<div id="header-localeRU">
					<h:form>
						<h:commandLink value="#{msg['title.ru']}"
							actionListener="#{languageBean.setLocaleRu}" />
					</h:form>
				</div>
			</div>
			<div style="clear: left"></div>
		</div>
	</h:body>
</ui:composition>