<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<link rel="stylesheet" type="text/css"
		href="../../resources/css/style.css" />

	<h:body>
		<div id="sidebar-decoration">
			<div id="sidebar-list">
				<h:form>
					<div class="sidebar-link">
						<h:link style="font-weight: bold"
							value="&rarr; #{msg['sidebar.newslist']}" outcome="news-list"
							rendered="#{not empty sideBarPage and sideBarPage eq 'newsList'}" />
						<h:link value="&rarr; #{msg['sidebar.newslist']}"
							outcome="news-list"
							rendered="#{requestScope.sideBarPage == null or !requestScope.sideBarPage.equals('newsList')}" />
					</div>
					<div class="sidebar-link">
						<h:link style="font-weight: bold"
							value="&rarr; #{msg['sidebar.addnews']}" outcome="edit-news"
							rendered="#{requestScope.sideBarPage != null and requestScope.sideBarPage.equals('addNews')}">
							<f:param name="clearNewsId" value="true" />
						</h:link>
						<h:link value="&rarr; #{msg['sidebar.addnews']}"
							outcome="edit-news"
							rendered="#{requestScope.sideBarPage == null or !requestScope.sideBarPage.equals('addNews')}">
							<f:param name="clearNewsId" value="true" />
						</h:link>
					</div>
					<div class="sidebar-link">
						<h:link style="font-weight: bold"
							value="&rarr; #{msg['sidebar.author']}" outcome="edit-authors"
							rendered="#{requestScope.sideBarPage != null and requestScope.sideBarPage.equals('authors')}" />
						<h:link value="&rarr; #{msg['sidebar.author']}"
							outcome="edit-authors"
							rendered="#{requestScope.sideBarPage == null or !requestScope.sideBarPage.equals('authors')}" />
					</div>
					<div class="sidebar-link">
						<h:link style="font-weight: bold"
							value="&rarr; #{msg['sidebar.tag']}" outcome="edit-tags"
							rendered="#{requestScope.sideBarPage != null and requestScope.sideBarPage.equals('tags')}" />
						<h:link value="&rarr; #{msg['sidebar.tag']}" outcome="edit-tags"
							rendered="#{requestScope.sideBarPage == null or !requestScope.sideBarPage.equals('tags')}" />
					</div>
				</h:form>
			</div>
		</div>
	</h:body>
</ui:composition>