<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<link type="text/css" rel="stylesheet"
		href="../../resources/css/style.css" />
	<link type="text/css" rel="stylesheet"
		href="../../resources/css/multiple-select.css" />

	<script src="../../resources/js/jquery.min.js"></script>
	<script src="../../resources/js/jquery.multiple.select.js"></script>

	<h:body>

		<div id="search">
			<h:form prependId="false">
				<div id="authors">
					<h:selectOneMenu id="ss" value="#{searchCriteriaBean.authorId}"
						valueChangeListener="#{searchCriteriaBean.processAuthorIdValueChange}">
						<f:selectItem itemValue="#{null}" itemLabel="" />
						<f:selectItems value="#{authorListBean.authorList}" var="author"
							itemValue="#{author.authorId}" itemLabel="#{author.authorName}" />
					</h:selectOneMenu>
				</div>
				<div id="tags">
					<h:selectManyListbox id="ms"
						value="#{searchCriteriaBean.tagIdArray}"
						valueChangeListener="#{searchCriteriaBean.processTagIdArrayValueChange}">
						<f:selectItems value="#{tagListBean.tagList}" var="tag"
							itemValue="#{tag.tagId}" itemLabel="#{tag.tagName}" />
					</h:selectManyListbox>
				</div>
				<script>
					$('#ms').multipleSelect();
				</script>
				<div id="filter">
					<h:commandButton type="submit"
						action="#{newsListController.showNewsList}"
						value="#{msg['search.filter']}" />
				</div>
			</h:form>
			<div id="reset">
				<h:form>
					<h:commandButton action="#{newsListController.clearSearchCriteria}"
						value="#{msg['search.reset']}" />
				</h:form>
			</div>
		</div>
		<div id="news-list-content">
			<ui:repeat value="#{newsListBean.newsValueList}" var="news">
				<div class="news">
					<div class="news-title">
						<strong>#{news.title}</strong>
					</div>
					<div class="news-author">( #{msg['news.author']}
						#{news.author.authorName})</div>
					<div class="news-date">
						<h:outputText value="#{news.modificationDate}">
							<f:convertDateTime pattern="dd-MM-yyy" />
						</h:outputText>
					</div>
					<div style="clear: right"></div>
					<div class="news-short-text">#{news.shortText}</div>
					<div class="view-link">
						<h:form>
							<h:commandLink action="#{newsController.showNews}"
								value="#{msg['view.news.link']}">
								<f:param name="newsId" value="#{news.newsId}" />
							</h:commandLink>
						</h:form>
					</div>
					<div class="news-comments">#{msg['comments.count']}
						(#{news.comments != null ? news.comments.size() : 0 })</div>
					<div class="tag-list">
						<ui:repeat value="#{news.tags}" var="tag">
						#{tag.tagName} 
					</ui:repeat>
					</div>
					<div style="clear: right"></div>
				</div>
			</ui:repeat>
		</div>
		<center>
			<div id="navigation-by-list\">
				<div id="paginationDigits">
					<h:form prependId="false">
						<td><h:commandLink styleClass="arrows"
								action="#{newsListController.switchPage}" value="&laquo;">
								<f:param name="switchTo" value="first" />
							</h:commandLink>&nbsp;&nbsp;</td>
						<td><h:commandLink styleClass="arrows"
								action="#{newsListController.switchPage}" value="&#8249;">
								<f:param name="switchTo" value="decr" />
							</h:commandLink>&nbsp;&nbsp;</td>
						<h:inputText id="inPage" type="number" min="1"
							max="#{newsListBean.pagesCount}"
							value="#{searchCriteriaBean.page}"
							valueChangeListener="#{searchCriteriaBean.processPageValueChange}" />
						<td><h:commandLink styleClass="arrows"
								action="#{newsListController.switchPage}" value="&#8250;">
								<f:param name="switchTo" value="incr" />
							</h:commandLink>&nbsp;&nbsp;</td>
						<td><h:commandLink styleClass="arrows"
								action="#{newsListController.switchPage}" value="&#187;">
								<f:param name="switchTo" value="last" />
							</h:commandLink>&nbsp;&nbsp;</td>
					</h:form>
				</div>
			</div>
		</center>
	</h:body>
</ui:composition>