#footer {
	border-style: solid;
	border-width: 2px;
	min-width: 1260px;
	margin: auto;
	text-align: center;
}

#header {
	border-style: solid;
	border-width: 2px;
	min-width: 1260px;
	min-height: 70px;
	margin: auto;
}

#header-title {
	float: left;
	font-family: "Times New Roman", Georgia, Times, serif;
	font-size: 32px;
	margin-left: 30px;
	margin-top: 10px;
	min-width: 600px;
}

#header-greeting-message {
	float: left;
	margin-left: 200px;
	margin-top: 25px;
}

#header-logout-button {
	float: left;
	margin-left: 20px;
	margin-top: 25px;
}

#header-locale {
	float: right;
	margin-right: 50px;
	margin-top: 24px;
}

#header-localeEN {
	float: left;
}

#header-localeRU {
	float: left;
	margin-left: 10px;
}

#side-and-content {
	min-width: 1260px;
	border-left: solid;
	border-right: solid;
	border-width: 2px;
}

#sidebar-decoration {
	float: left;
	min-width: 330px;
	min-height: 200px;
	margin-top: 10px;
	margin-right: 20px;
	background: whitesmoke;
}

#sidebar-list {
	background: white;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.sidebar-link {
	height: 30px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#content {
	float: left;
	min-height: 700px;
	min-width: 900px;
	border-style: solid;
	border-width: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: whitesmoke;
}

#content-search {
	width: auto;
	height: 70px;
	margin: auto;
}

#content-authors {
	width: 150px;
	float: left;
	margin-left: 300px;
	margin-top: 24px;
}

#content-tags {
	width: 150px;
	float: left;
	margin-left: 10px;
	margin-top: 24px;
}

#ms {
	width: 100%;
}

#ss {
	width: 100%;
	height: 26px;
}

#content-filter-button {
	float: left;
	margin-left: 10px;
	margin-top: 24px;
}

#content-reset-button {
	float: left;
	margin-left: 10px;
	margin-top: 24px;
}

#news-list-content {
	width: auto;
	min-height: 600px;
	margin-left: 20px;
}

.short-news {
	margin-bottom: 10px;
	margin-top: 10px;
}

.short-news-title {
	min-width: 600px;
	float: left;
}

.short-news-author {
	float: left;
	margin-left: 10px;
}

.short-news-date {
	float: right;
	margin-right: 20px;
}

.short-news-text {
	margin-top: 10px;
	margin-bottom: 10px;
}

.short-news-view-link {
	float: right;
	margin-right: 20px;
}

.short-news-comments-number {
	float: right;
	margin-right: 30px;
}

.short-news-tag-list {
	float: right;
	margin-right: 30px;
}

.short-news-delete-checkbox {
	float: right;
	margin-right: 10px;
	margin-top: 3px;
}

.short-news-edit-link {
	float: right;
	margin-right: 20px;
}

#delete-news-button {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}

#navigation-by-list {
	width: 100%;
	height: 30px;
	background: whitesmoke;
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
}

#news-backButton {
	margin-top: 10px;
	margin-left: 10px;
}

.news {
	margin-bottom: 10px;
	margin-top: 10px;
}

.news-title {
	min-width: 600px;
	margin-left: 20px;
	float: left;
}

.news-author {
	float: left;
	margin-left: 10px;
}

.news-date {
	float: right;
	margin-right: 20px;
}

.news-full-text {
	margin-left: 20px;
	margin-top: 20px;
	width: 800px;
	word-wrap: break-word;
}

#comments {
	margin-top: 30px;
	margin-left: 10px;
	width: 300px;
}

.comment {
	margin-top: 20px;
}

.comment-date {
	text-decoration: underline;
}

.comment-text {
	background-color: gainsboro;
}

.delete-comment-button {
	float: right;
	margin-top: 10px;
}

#post-comment-button {
	margin-top: 10px;
	float: right;
}

#comment-text-error {
	margin-top: 40px;
}

.addnews-error-message {
	color: red;
	font-style: italic;
}

#prevButton {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#nextButton {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#tag-content {
	margin-top: 50px;
}

.edittag-tag-text {
	float: left;
	margin-left: 300px;
	margin-top: 20px;
}

.edittag-inputname {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.edittag-update-button {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.edittag-delete-link {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.edittag-cancel-link {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.edittag-inputname-blocked {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.edittag-edit-link {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

#edittag-addtag-text {
	float: left;
	margin-top: 50px;
	margin-left: 250px;
}

#edittag-inputname-save {
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}

#edittag-save-button {
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}

#edittag-message {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 20px;
}

#author-content {
	margin-top: 50px;
}

.editauthor-author-text {
	float: left;
	margin-left: 300px;
	margin-top: 20px;
}

.editauthor-inputname {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.editauthor-update-button {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.editauthor-expire-link {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.editauthor-cancel-link {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.editauthor-inputname-blocked {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.editauthor-edit-link {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

#editauthor-inputname-save {
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}

#editauthor-save-button {
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}

#editauthor-addauthor-text {
	float: left;
	margin-top: 50px;
	margin-left: 250px;
}

#editauthor-message {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 10px;
}

#addnews-title {
	margin-left: 270px;
	margin-top: 50px;
}

#addnews-date {
	margin-left: 270px;
	margin-top: 50px;
}

#addnews-short-text {
	margin-left: 270px;
	margin-top: 50px;
}

#addnews-full-text {
	margin-left: 270px;
	margin-top: 50px;
}

#search {
	width: auto;
	height: 70px;
	margin: auto;
}

#authors {
	width: 150px;
	float: left;
	margin-left: 300px;
	margin-top: 24px;
}

#tags {
	width: 150px;
	float: left;
	margin-left: 10px;
	margin-top: 24px;
}

#save-news-button {
	margin-left: 640px;
}

#error-content {
	width: auto;
	min-height: 600px;
	margin-left: 200px;
	margin-top: 200px;
	color: red;
	font-style: italic;
	text-align: center;
}

#error-content-edit-news {
	width: auto;
	margin-left: 200px;
	margin-top: 50px;
	color: red;
	font-style: italic;
	text-align: center;
}

#login-content {
	float: left;
	min-height: 700px;
	min-width: 900px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#login-form {
	margin-top: 200px;
	margin-left: 550px;;
}

#login-error {
	width: 300px;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

#login-message {
	width: 300px;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#paginationDigits {
	float: left;
	margin-left: 40%;
}

#paginForm {
	float: left;
	margin-left: 3%;
}

.arrows {
	font-size: 20px;
}